@model IEnumerable<TaskModel>

@{
    ViewData["Title"] = "Home Page";
}

<p class="task-header">My Task</p>
<div class="row task-row">
    <div class="col-sm">
        <div class="row task-item-row">
            <div class="col-sm-1">
                <div class="circle-color blue"></div>
            </div>
            <div class="col-sm-3">
                <p class="state-link">Incomplete</p>
            </div>
            <div class="col-sm">
                <div class="num-circle blue"><span class="num-text">@Model.Where(x => x.Status == "Incomplete").ToList().Count</span></div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row task-item-row">
            <div class="col-sm-1">
                <div class="circle-color yellow"></div>
            </div>
            <div class="col-sm-3">
                <p class="state-link">In progress</p>
            </div>
            <div class="col-sm">
                <div class="num-circle yellow"><span class="num-text">@Model.Where(x => x.Status == "In progress").ToList().Count</span></div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row task-item-row">
            <div class="col-sm-1">
                <div class="circle-color green"></div>
            </div>
            <div class="col-sm-3">
                <p class="state-link">Complete</p>
            </div>
            <div class="col-sm">
                <div class="num-circle green"><span class="num-text">@Model.Where(x => x.Status == "Complete").ToList().Count</span></div>
            </div>
        </div>
    </div>
</div>
