.task-header {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
}

.task-row {
    margin-top: 20px;
    margin-left: 40px;
}

.circle-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 20px;
}

.circle-color.blue {
    background-color: #3FA7D6;
}

.circle-color.yellow {
    background-color: #FFE74C;
}

.circle-color.green {
    background-color: #59CD90;
}

.state-link {
    margin-top: 15px;
}

.num-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-circle.blue {
    background-color: #3FA7D6;
}

.num-circle.yellow {
    background-color: #FFE74C;
}

.num-circle.green {
    background-color: #59CD90;
}

.num-text {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.task-item-row {
    margin-top: 20px;
}

.float-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5%;
    bottom: 12%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3FA7D6;
    color: #FFFFFF;
}

.create-text {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}