.nav-item.name-item {
    margin-right: 25px;
}

.nav-item.logout-item {
    margin-right: 50px;
}

.nav-item.register-item {
    margin-right: 25px;
}

.nav-item.login-item {
    margin-right: 50px;
}