@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row register-row">
    <div class="col-sm-5">
        <div class="card">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <p class="register-header">Create user</p>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <hr style="width: 88%;" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.DisplayName" class="form-control" autocomplete="display-name" aria-required="true" style="background-color: #EEEFF5; border-color: #EEEFF5; height: 60px; border-radius: 7px;" />
                    <label asp-for="Input.DisplayName" style="padding-left: 60px; color: #2F2E41;">Username</label>
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="background-color: #EEEFF5; border-color: #EEEFF5; height: 60px; border-radius: 7px;" />
                    <label asp-for="Input.Email" style="padding-left: 60px; color: #2F2E41;">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" style="background-color: #EEEFF5; border-color: #EEEFF5; height: 60px; border-radius: 7px;" />
                    <label asp-for="Input.Password" style="padding-left: 60px; color: #2F2E41;">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" style="background-color: #EEEFF5; border-color: #EEEFF5; height: 60px; border-radius: 7px;" />
                    <label asp-for="Input.ConfirmPassword" style="padding-left: 60px; color: #2F2E41;">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select" aria-required="true" style="background-color: #EEEFF5; border-color: #EEEFF5; height: 60px; border-radius: 7px;">
                        <option disabled selected style="padding-left: 60px; color: #2F2E41;"></option>
                    </select>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <div style="padding-left: 40px; padding-right: 40px; padding-top: 20px; padding-bottom: 20px;">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg" style="border-radius: 7px; background-color: #3FA7D6; color: #FFFFFF; border-color: #3FA7D6">Register</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-6" style="display: flex; justify-content: end; align-items: center; margin-right: 50px; margin-top: 50px; margin-bottom: 50px;">
        <img src="~/img/register.webp" style="width: 350px; height: 260px;" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}