.register-row {
    margin-top: 20px;
    margin-left: 40px;
}

.card {
    border-radius: 25px;
    border-color: #FFFFFF;
}

.welcome-header {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 40px;
    color: #2F2E41;
}

.form-floating {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}