.form-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card {
    width: 500px;
    border-radius: 25px;
}

.card-body {
    margin-top: 20px;
}

.form-floating {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    width: 90px;
}
